<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => "form-control", :tabindex => 1 %>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :cpf %><br>
        <%= f.text_field :cpf, :class => "form-control cpf", :tabindex => 2 %>
      </div>
      <div class="form-group">
        <%= f.label :first_tel %><br>
        <%= f.text_field :first_tel, :class => "form-control phone", :tabindex => 4 %>
      </div>
      <div class="form-group">
        <%= f.label :marital_state %><br>
        <%= f.select :marital_state, ['Solteiro', 'Casado', 'Divorciado'], {}, {:class => "form-control",:tabindex => 6}  %>
      </div>
      <%= f.fields_for :address do |ff| %>

        <div class="form-group">
          <%= ff.label :place %><br>
          <%= ff.text_field :place, :class => "form-control", :tabindex => 8 %>
        </div>

        <div class="form-group">
          <%= ff.label :complement %><br>
          <%= ff.text_field :complement, :class => "form-control", :tabindex => 10 %>
        </div>


      <% end %>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, :class => "form-control", :tabindex => 3 %>
      </div>
      <div class="form-group">
        <%= f.label :second_tel %><br>
        <%= f.text_field :second_tel, :class => "form-control phone", :tabindex => 5 %>
      </div>
      <div class="form-group">
        <%= f.label :gender %><br>
        <%= f.select :gender, ['Masculino', 'Feminino'], {}, {:class => "form-control", :tabindex => 7} %>
      </div>

      <%= f.fields_for :address do |fe| %>
          <div class="form-group">
            <%= fe.label :number %><br>
            <%= fe.text_field :number, :class => "form-control", :tabindex => 9 %>
          </div>

          <div class="form-group">
            <%= fe.label :cep %><br>
            <%= fe.text_field :cep, :class => "form-control cep", :tabindex => 11 %>
          </div>
      <% end %>

    </div>

  </div>


  <div class="form-group">
    <%= f.submit :class => "btn btn-default" %>
    <%= link_to 'Clientes', customers_path, :class => "btn btn-default" %>
  </div>
<% end %>
