<!DOCTYPE html>
<html>
<head>
  <title>Loteamento</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<div class="wrapper" class="toggled">

  <%= render 'layouts/navigation' %>

  <div id="page-wrapper">

    <%= yield %>

  </div>

</div>



</body>
</html>
